<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Data Safety Labels</h1>
            <hr>
            <p>We aim to develop a full stack android application that assists in our research study. This app will have dynamic survey generation which will be used to assess user's knowledge of data safety labels. In our study we want to observe the impact of data safety labels on privacy labels.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
